<h1>{{title}}</h1>
<h2>{{profile.displayname}}</h2>
{{#if notYou}}
	{{#if isFriend}}
		<form class="add" action="/remove" method="post">
			<button class="profileButton friendButton" type="submit" name="userName" value="{{profile.username}}">Remove Friend</button>
		</form>
	{{else}}
		<form class="add" action="/add" method="post">
			<button class="profileButton friendButton" type="submit" name="userName" value="{{profile.username}}">Add Friend</button>
		</form>
	{{/if}}


	<textarea rows="5" readonly>{{profile.profile.bio}}</textarea>
{{else}}

		<form id="bio-form" method="POST" action="/editBio">
			<textarea id="bioInfo" name="bioInfo" rows="5" columns="10" readonly>{{profile.profile.bio}}</textarea>
			<br />
			<input id="submitBioButton" class="profileButton" type="submit" value="Submit" style="display:none">
		</form>
		<button id="editBioButton" class="profileButton">Edit Bio</button>
		<div class="postsContainer">
			<form id="new-post-form" method="POST" action="/newPost">
				<textarea id="newPost" class="postTextArea" name="newPost" rows="5" columns="10" placeholder="Write a new post!"></textarea>
				<br />
				<br />
				<input id="createPostButton" class="profileButton" type="submit" value="Create Post">
			</form>
		</div>
{{/if}}
<div class="postsContainer">
	{{#each posts}}
		<div class="postContainer">
		 	<div class="modal">
		        <div class="modal-content">
					<span class="close-button">&times;</span>
		        	<h2>Users Who Have Liked This Post</h2>
		            <ol>
			            {{#each this.likes.likedBy}}
			            	<li class="likesList">{{this}}</li>
			            {{/each}}
		            </ol>
		        </div>
			</div>
			<textarea class="postTextArea" readonly rows="5" columns="10">{{this.content}}</textarea>
			<div class="likeCommentArea">
				<button class="trigger">Likes: {{this.likes.amount}} </button>
			</div>
			<div id = "commentsContainer" style = "display: none;">
				{{#each this.comments}}
					<span class ="idvComment">
						<p>{{this.content}}</p>
						<p class = "subtext"> made by: {{this.author}}</p>
						<p class = "subtext"> at: {{this.timestamp}}</p>
					</span>
					</br>
				{{/each}}
				</br>
				<form method = "POST" action= "/commentOnPost">
					<input name="postId" value="{{this._id}}" type="hidden"/>
					<label for="Comment"></label>
					<input class="commentBox" type="text" name="comment" value="" placeholder="Type your comment here">
					<button type="submit" class="profileButton">Comment</button>
				</form>
			</div>
			<div class="buttonContainer">
				<form method="POST" action="/likePost">
					<input name="postId" value="{{this._id}}" type="hidden"/>
					{{#checkLike ../username this.likes.likedBy}}
					<button type="submit" class="profileButton likeButton">Unlike Post</button>
					{{else}}
					<button type="submit" class="profileButton likeButton">Like Post</button>
					{{/checkLike}}
				</form>

			<button style = "margin-top: 5px;" id = "toggle" class = "profileButton">Show Comments</button>
			{{#if ../notYou}}
			{{else}}
				<form method="POST" action="/deletePost">
					<input name="postId" value="{{this._id}}" type="hidden"/>
					<button type="submit" class="profileButton">Delete Post</button>
				</form>
			{{/if}}
			</div>
		</div>
	{{/each}}
</div>
