<h1>{{title}}</h1>
<h2>{{profile.displayname}}</h2>

{{#if notYou}}
	<textarea rows="5" readonly>{{profile.profile.bio}}</textarea>
{{else}}
		<form id="bio-form" method="POST" action="/editBio">
			<textarea id="bioInfo" name="bioInfo" rows="5" columns="10" readonly>{{profile.profile.bio}}</textarea>
			<br />
			<input id="submitBioButton" class="profileButton" type="submit" value="Submit" style="display:none">
		</form>
		<button id="editBioButton" class="profileButton">Edit Bio</button>
		<div class="postsContainer">
			<form id="new-post-form" method="POST" action="/newPost">
				<textarea id="newPost" class="postTextArea" name="newPost" rows="5" columns="10" placeholder="Write a new post!"></textarea>
				<br />
				<br />
				<input id="createPostButton" class="profileButton" type="submit" value="Create Post">
			</form>
		</div>
{{/if}}
<div class="postsContainer">
	{{#each posts}}
		<div class="postContainer">
			<textarea class="postTextArea" readonly rows="5" columns="10">{{this.content}}</textarea>
			<div class="likeCommentArea">
				<a>Likes: {{this.likes.amount}} </p>
			</div>
			<div class="buttonContainer">
				<form method="POST" action="/likePost">
					<input name="postId" value="{{this._id}}" type="hidden"/>
					<!-- TODO togggle like/unlike -->
					<button type="submit" class="profileButton likeButton">Like Post</button>
				</form>
				{{#if notYou}}
				{{else}}
					<form method="POST" action="/deletePost">
						<input name="postId" value="{{this._id}}" type="hidden"/>
						<button type="submit" class="profileButton">Delete Post</button>
					</form>
				{{/if}}
			</div>
		</div>
	{{/each}}
</div>